{% extends 'base.html.twig' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    <div class="py-16">
        <h1 class="mb-8">{{ page.title }}</h1>
        <p class="content">
            {% if page.image %}
                <img src=" {{ asset('uploads/images/'~page.image) }}" alt="{{ page.title }}" class="float-start w-lg-1/2 pe-lg-16 pb-16">
            {% endif %}
            {{ page.content|raw }}
        </p>
    </div>
{% endblock %}
