<section class="col-lg-{{ colSize }}">
    <div class="component card card-body d-flex flex-column justify-content-center align-items-center">
        <img src="https://placekitten.com/150" alt="Profile Picture" class="rounded-circle">
        <h1 class="h2 py-3 fw-semibold m-0 pb-0">{{ app.user.personalData }}</h1>
        <p class="text-black-50 mb-4 mt-0">{{ app.user.email }}</p>
        <div class="pt-4 d-flex gap-3">
            <a href="{{ path('app_profile_edit') }}"
               class="btn btn-outline-primary">{{ 'interface.edit_profile'|trans }}</a>
            <a href="{{ path('app_logout') }}" class="btn btn-dark">
                <i class="bi bi-box-arrow-right"></i>&nbsp {{ 'interface.logout'|trans }}
            </a>
        </div>
    </div>
</section>