<section class="col-lg-{{ colSize }} mt-4">
    <div class="component">

        <small class="h5">{{ form_label(urlForm.longUrl)|striptags }}</small>

        <div class="pt-6">
            {{ form_start(urlForm) }}
            <div class="input-group">
                {{ form_widget(urlForm.longUrl) }}
                {{ form_widget(urlForm.add) }}
            </div>
            {{ form_end(urlForm) }}
        </div>

    </div>
</section>