{% extends 'base.html.twig' %}

{% block title %}Shorten your link!{% endblock %}

{% block body %}

    <div class="row my-5 ">
        <div class="col-lg-{{ shortedUrl ? '8' : '12' }}">
            <div class="component">
                {{ form_start(urlForm) }}
                {{ form_row(urlForm.longUrl) }}
                <div class="mb-3">
                    {{ form_widget(urlForm.add,{'attr': {'class': 'btn btn-primary w-full'}}) }}
                </div>
                {{ form_end(urlForm) }}
            </div>
        </div>
        {% if shortedUrl %}
            <div class="col-lg-4">
                <img src="{{ qr_code_url(shortedUrl) }}" alt="">
            </div>
        {% endif %}

    </div>

    {% if urls %}
        <div class="row">
            <div class="col-lg-12">
                <div class="component">
                    {{ include('components/table/urls_table.html.twig') }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
